address, blockquote, body, caption, center, dd, dir, div, dl, dt, form, h1, h2, h3, h4, h5, h6, menu, ol, p, td, th, ul {
	font:  13px/17px Arial, Verdana, Geneva, Sans-serif;
} 

code, pre, samp {
	font-size: 13px;
	font-family: Arial, Verdana, Geneva, Sans-serif;
}

abbr, acronym, .help {
	border-bottom: 1px dotted #555;
	cursor: help;
}

body {
	background-color: #fff;
	border: 0;
	color: #333;
	font-size: 13px;
	padding: 0;
	margin: 0;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: 13px;    /* the correct value */
}
html>body {
	font-size: 13px;    /* reapply for Opera 5 */
}

/* IE Png Fix */
img, a, input {
    behavior: url(/static/images/iepngfix.htc);
}

img {
	border: none;
}

input {
    -moz-border-radius:3px 3px 3px 3px;
    border: 1px solid #999999;
    padding: 2px;
}

.input_text {
    height: 18px;
}

:link, :visited {
	background-color: transparent;
	text-decoration: underline;
}

:link {
	color: #036EBF;
}

:visited {
	color: #036EBF;
}

:link:hover, :visited:hover {
	text-decoration: none;
	color:#025696;
}

:link:active, :visited:active {
	text-decoration: underline;
	color: #036EBF;
	outline: none; /* For Firefox family */
}

/* --------------- header --------------- */

#header {
    background-color: #27343C;
    border-bottom:1px solid #3D5563;
	color: #fff;
	margin: 0;
    height: 50px;
}

#header #logo {
    float: left;
    margin: 0px 10px auto 26px;
}

#header #logotext {
    padding-top: 15px; 
    font-size: 20px;
    font-family:Georgia,"Times New Roman",serif;
}

#logotext a:link, #logotext a:visited {
    color: #7DA9C5;
    text-decoration: none;
}

#subheader {
    background-color:#34454F;
    height:33px;
    line-height:33px;
}

#subheader a {
    color:#7DA9C5;
}

#searchbox {
    float: right;
    font-size: 12px;
    margin-right: 26px;
    padding-top: 4px;
    width: auto;    
}

.search_text {
    float: left;
    color:#666666;
    width: 200px;
    height: 18px;
    padding: 3px;
}

.search_button {
    float: left;
    left: 5px;
    position: relative;    
    border: none;
    height: 23px;
}

#navlinks {
    color: #F9F7ED;
    padding-top: 7px;
    margin: 0px 26px;
}

/* --------------- content --------------- */

#content {
	margin: 18px 26px;
	font-size: 13px;
	}

#content img {
	margin: auto;
	padding: 0;
	}

/*  Some images do need a border to separate them from the rest of the page. */

.screencap {

	border: 20px solid #ccc;
	color: #000;
	margin: 10px 0 5px 24px;
	padding: 10px;

}
/*
	 Display title as image caption
*/
#content img[title]:after {
	background-color: transparent;
	color: #000;
	content: attr(title);
	display: block;
	margin: 0;
	padding: 0.3em 0 0 0;
	font-size: 13px;
	font-weight: bold;
	text-align: center; 
	}


#content h1 {
	background-color: #FFFABC;
	border: 2px solid #E9E5AC; 
	color: #333;
	font-size: 16px;
	margin: 13px 0 15px 0;
	padding: 13px;
	text-align: left;
	font: normal 18px/22px palantino, georgia, 'times new roman', serif;
	}

#content h1.page_next {float: right; border: 0; padding: 12px; margin-right: 10px;}

#content h2 {
	background-color: transparent;
	border-bottom: 2px solid #666;
	color: #333;
	font-size: 15px;
	font-weight: bold;
	margin: 18px 0 10px 4px;
	padding: 20px 0 3px 0px;
	}

#content h3 {
	font-size: 14px;
	font-weight: bold;
	color:	#333;
	background-color: transparent;
	border-bottom: 1px solid #999;
	margin: 30px 0 0 15px;
	padding: 5px 0 3px 0px;
	}

#content h3 small {
	float: right;
}

#content h4 {
	background-color: transparent;
	color: #363;
	font-size: 13px;
	font-weight: bold;
	margin: 10px 0 0 21px;
	padding-left: 3px;
	}

#content h5 {
	color: #333;
	font-size: 13px;
	margin: 16px 0 -5px 0;
	padding: 0;
	}
	
#content .subhead {
	font-size: 13px; 
	font-weight: normal;
	margin: 3px 0 0 0;
	color: #666;
}

#content .title {
	margin: 13px 30px -8px 24px;
	font-size: 13px; 
}

#content p {
	margin: 10px 30px 3px 24px;
	font-size: 13px;
	}
	
#content b {
	font-weight: bold;
	}

#content strong {
	font-weight: bold;
	}
	
#content code {
 font-family: Monaco, Verdana, Sans-serif;
 font-size: 12px;
 background-color: #f9f9f9;
 border: 1px solid #D0D0D0;
 color: #002166;
 display: block;
 margin: 10px 0 5px 24px;
 padding: 12px 10px 12px 10px;
 white-space: pre;
}

#content pre { 
	font-family: Monaco, sans-serif;
	background-color: #F6F8FB;
	border: 1px solid #91A2B4;
	color: #003CB5; 
	font-size: 11px;
	display: block;
	margin: 10px 0 5px 24px;
	padding: 10px;
}


#content .path {
	background-color: #EBF3EC;
	border: 1px solid #99BC99;
	color: #005702;
	font-size: 13px;
	text-align: center;
	margin: 0 0 14px 0;
	padding: 5px 10px 5px 8px;
	}


#content var {
	background-color: transparent;
	color: #393;
	font-weight: bold;
	}

#content kbd {
	font-family: Arial, Verdana, Geneva, Sans-serif;
	background-color: transparent;
	color: #c33;
	font-size: 13px;
	font-weight: bold;
 	}

#content dfn {
	font-family: Arial, Verdana, Geneva, Sans-serif;
	font-size: 13px;
	color: #336600;
	font-weight: bold;
	}

#content samp {
	font-size: 13px;
	font-family: Arial, Verdana, Geneva, Sans-serif;
	background-color: transparent;
	color: #933;
	font-weight: bold;
	}

#content address {
	font-size: 10px;
	font-style: italic;
	margin-right: 20px;
	text-align: right;
	}

#content li {
	font-size: 13px;
	margin-top: 6px;
	margin-left: 5px;
	font-size: 13px;
	}

#content li p {
	font-size: 13px;
	margin-left: 0;
	margin-right: 0;
	}

#content dl {
	font-size: 13px;
	margin: 10px 0 5px 24px;
	padding: 10px;
	}

#content dt {
	font-weight: bold;
	display: block;
	float: none;
	background-color: #666;
	padding: 8px 6px;
	color: #fff;
	}

#content dd {
	display: block;
	margin: 0 0 15px 0;
	padding: 10px 6px 10px 25px;
	background-color: #eee;
	}

#content table {
	margin: 10px 0px 3px 24px;
	font-size: 13px;
	border: 1px solid #91A2B4;
	border-collapse: collapse;
}

#content table .caption {
	padding: 2px 0;
	font-weight: bold;
	background-color: #91A2B4;
	color: #fff;
	margin: 0;
}

#content table .group_heading {
	padding: 6px 8px;
	font-weight: bold;
	font-size: 14px;
	background-color: #91A2B4;
	color: #fff;
	margin: 5px 0;
	text-align: left;
}

#content table th {
	padding: 2px 8px;
	background-color: #F6F8FB;
	border: 1px solid #91A2B4;
	color: #003CB5;
}

#content table td {
	padding: 2px 8px;
	border: 1px solid #91A2B4;
}

#content .toc {
	font-weight: bold;
	font-size: 13px;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: 13px;   /* the correct value */
	}
html>body #content .toc {
	font-size: 13px;   /* reapply for Opera 5 */
	}

#content .toc b {
	color: #333;
	font-size: 13px;
	}

#content .minitoc {
	font-weight: bold;
	font-size: 13px;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: 13px;   /* the correct value */
	}
html>body #content .minitoc {
	font-size: 13px;   /* reapply for Opera 5 */
	}

/*
	Apply style to IE browsers
		http://centricle.com/ref/css/filters/tests/star_html/
*/
* html #content #toc ul {
	padding-left: 5px;
	}

/*
	Apply style to Moz browsers
		http://centricle.com/ref/css/filters/tests/owen/
*/
head:first-child+body #content #toc ul {
	margin-left: 5px;
	}


#content .important {
	background: #FBE6F2;
	border: 1px solid #D893A1;
	color: #000;
	margin: 10px 0 5px 24px;
	padding: 10px;
	}

#content .important p {
	margin: 6px 0 8px 0;
	padding: 0;
	}
	
#content .important .leftpad {
	margin: 6px 0 8px 0;
 	padding-left: 20px;
}
	
	
#content .critical {
	background: #FBE6F2;
	border: 1px solid #E68F8F;
	color: #000;
	margin: 10px 0 5px 0;
	padding: 10px;
	}
	
#content .critical p {
	margin: 5px 0 6px 0;
	padding: 0;
	}
	
#content .tip {
	background: #dfdfff;
	border: 1px solid #3366CC;
	color: #000;
	margin: 10px 0 5px 24px;
	padding: 10px;
	}

#content .tip p {
	margin: 6px 0 8px 0;
	padding: 0;
	}

#content .tip .leftpad {
	margin: 6px 0 8px 0;
 	padding-left: 20px;
	}

#content .searchbox {
	background-color: #eee;
	border: 1px solid #222;
	padding: 7px 0 7px 8px;
	text-align: center;
	}

#content ul.guidelineList {
	list-style: none;
	margin: 0;
	padding: 0;
}

#content .guidelineDetails {
	margin-left: 60px;
}

#content .required {
	color: red;
}

#info {
    text-align: right;
    margin: 30px 26px;
}

/* --------------- footer --------------- */

#footer {
	background-color: #eee;
	border-top: 1px solid #ccc;
	font-size: 10px;
	padding: 16px 0 26px 0;
	margin: 30px 0 0 0;
	text-align: center;
	}

#footer address {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	}

#footer .validation {
	font-size: xx-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: x-small;   /* the correct value */
	}
html>body #footer .validation {
	font-size: x-small;   /* reapply for Opera 5 */
	}

.center {
 text-align: center;
}

/* -------------------------------------
/*  Comments
/* -------------------------------------*/

#comments {
	margin: 			18px 40px;
}

/* -------------------------------------
/*  Edit Content
/* ------------------------------------*/

.markdown_text {
    -moz-border-radius:3px 3px 3px 3px;
    border: 1px solid #999999;
    width: 900px;
    height: 500px;
}

.wikiTable {
    border: none;
    margin: 10px 26px;
}

.wikiTable td {
    padding: 5px;
}
